# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.GGJ2022.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\s0nic\Unity Projects\GGJ2022\.idea\.idea.GGJ2022\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
